#!/usr/bin/make -f

export DH_ALWAYS_EXCLUDE=CVS:.git:.gitignore:__pycache__
export DEB_BUILD_OPTIONS=nocheck

%:
	sed "1s/~XXX/~`lsb_release -cs`/" debian/changelog.template > debian/changelog
	dh $@ --buildsystem=pybuild --with=python2,python3
